# secrets!
.env
.Renviron

# python and Rrubbish
__pycache__
.Rhistory
.RData

# text editor, IDE etc.
.vscode
.Rproj.user
*.Rproj


# data files that don't need version control
ADT.csv
ADT_events.csv
ward_keys.csv
care_site_clean.csv
omop_live_care_site.csv

