# secrets!
.env
.Renviron

# python and R rubbish
__pycache__
.Rhistory
.RData
tmp/

# text editor, IDE etc.
.vscode
.Rproj.user
*.Rproj


# data files that don't need version control
data/local
data/secure
ADT.csv
ADT_events.csv
ward_keys.csv
data/care_site_clean.csv
omop_live_care_site.csv

