<!DOCTYPE HTML>
<html>
<head>
    <svg width="960" height="500"></svg>
    <!-- styles -->
    <link href="{{ url_for('static', path='style.css')}} " rel="stylesheet" type="text/css" media="screen" />
    <!-- scripts -->
    <script> var WEBSOCKET_SERVER = "{{ WEBSOCKET_SERVER }}"; console.log(WEBSOCKET_SERVER); </script>
    <script type="text/javascript" src="{{ url_for('js', path='lib/d3/d3.min.js')}}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('js', path='viz.js')}}" charset="utf-8"></script>
</head>
<body>
    <p>hello from starlette template</p>
    <p>revision: running in reload mode: really? YES!</p>
    <body><a href="javascript:runWebsockets()">Say Hello From Client</a></body>

    <p>Moving dots demonstrator</p>
    <div id="viz_inspect"></div>

</body>
</html>