<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> EMAP live </title>
    <!-- <svg width="960" height="500"></svg> -->
    <!-- styles -->
    <link href="{{ url_for('static', path='style.css')}} " rel="stylesheet" type="text/css" media="screen" />
    <!-- scripts -->
    <script> var WEBSOCKET_SERVER = "{{ WEBSOCKET_SERVER }}"; console.log(WEBSOCKET_SERVER); </script>
    <script type="text/javascript" src="{{ url_for('js', path='lib/d3/d3.min.js')}}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('js', path='viz.js')}}" charset="utf-8"></script>
</head>
<body>
    <p>Live patient movement in ED</p>
    <div id="viz1"></div>
    <p>Data inspector</p>
    <div id="viz_inspect"></div>
    <p>Live Haemoglobin results from UCLH</p>
    <div id="viz2"></div>

</body>
</html>